#header {
    background-image: url("../image/cover.png");
    background-color: #cccccc;
    height: 600px;
    background-size: 100% 100%;
    padding-top: 10px;
    position: relative;
    font-family: 'Metal', cursive;
    margin-bottom: 0px;

}
.mycarousel{
    margin-top: 60px;
}
.fontMoulpali{
    font-size: 25px;
    font-family: 'Moulpali', cursive;
}
.atc:focus{
  color:#DDB35A  !important;
}
body {
    background-color: rgb(243, 243, 243);
}

.customcontainer {
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10%;
    width: 80% !important
}

.input-field input:focus+label {
    color: #DDB35A !important;
}



.row .input-field input:focus {
    border-bottom: 0.5px solid #DDB35A !important;
    box-shadow: 0 0.5px 0 0 #DDB35A !important
}

#floatt {
    float: right;
}


#topHeader img {
    width: 25px;
    height: 25px;
}


.md-form {
    padding: 0;
    margin: 0;
    color: #dbb158 !important;
}

.form-control {
    text-align: right;
    padding-right: 25px !important;
    color: #dbb158 !important;
}

#search {
    font-family: 'Metal', cursive;
    position: relative;
    top: -29px;
}

#search img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: -11px;

}

#nav li a {
    /* padding: 10px 20px; */
    color: #dbb158;
}

#nav li a:hover {
    text-decoration: underline;
}

#phrase {
    position: absolute;
    right: 80px;
    bottom: 150px;
}

div#phrase h2 {
    color: #dbb158;
    font-size: 32px;
}

#border {
    width: 157px;
    height: 5px;
    background-color: #dbb158;
    position: absolute;
    right: 80px;
    bottom: 140px;
}

.textTo-bottom {
    margin-top: 170px;
}

#card1,
#card2,
#card3,
#card4 {
    background-image: url("../image/robam.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rgba-black-strong {
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 31, 0.68);
}

#card-content {
    padding-top: 200px;

}

#card-content a:hover {
    text-decoration: none;
}

.title-card {
    border-bottom: 2px solid #ffffff;
}

#border1 {
    margin: auto;
    width: 70%;
    height: 3px;
    background-color: #ffffff;
}

#body {
    padding: 20px 0;
}

#all {
    text-align: center;
    margin: auto;
}

#all a {
    color: #ddb35a;
    text-decoration: underline;
}

#all a:hover {
    text-decoration: none;
}

#art img {
    margin-top: -6px;
    width: 25px;
    height: 25px;
}

#art h2 a {
    font-size: 20px;
    color: #ddb35a;
    text-decoration: underline;
}

#art h2 a:hover {
    text-decoration: none;
}

#middle-contaner1 {
    background-image: url("../image/w2.jpg");
    clip-path: polygon(0 0, 99% 0, 72% 100%, 0% 100%);
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;

}

#middle-contaner2 {
    background-image: url("../image/pchu.jpg");
    clip-path: polygon(0 0, 99% 0, 72% 100%, 0% 100%);
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}

#middle-contaner-inverse1 {
    background-image: url("../image/w1.jpg");
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}

#middle-contaner-inverse2 {
    background-image: url("../image/monk.jpg");
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}

.middle-content {
    width: 50%;
    float: right;
    padding: 40px 20px 40px 0px;
}

.middle-content-inverse {
    width: 50%;
    float: left;
    padding: 40px 45px;
}

.middle-content-inverse p {
    font-size: 18px;
}

.middle-content p {
    font-size: 18px;
}

.middle-content-inverse h2 a {
    color: #6c5b39;
    text-decoration: none;
}

.middle-content h2 a {
    color: #6c5b39;
    text-decoration: none;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

#container-body {
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(219, 219, 219);
}

#art h2 {
    margin-left: 0px;
    margin-top: -3%;
}

#border2 {
    width: 110px;
    height: 3px;
    background-color: #6c5b39;
    margin-bottom: 20px;
}

#block1,
#block2,
#block3,
#block4 {
    margin-bottom: 60px;
}

#last-block {
    font-family: 'Metal', cursive;
}

#last-block div img {
    border-radius: 50%;
    width: 100px;
    object-fit: cover;
    height: 100px;
}

#last-block a:hover {
    text-decoration: none;

}

#last-block div p {
    clear: both;
    color: #6C5B39;
    text-align: center;
}

#footer {
    background-color: #343434;
    color: #ddb35a;
    padding-bottom: 40px;
}

#footer-title {
    text-align: center;
    margin: auto;
    padding: 40px 0;
}

div#footer-title h2 {
    margin: 10px 0;
}

#contact p {
    text-align: left;
}

#contact h5 {
    text-align: center;
    margin-bottom: 20px;
}

#contact #b1,
#contact #b2 {
    border-right: 3px solid #ddb35a;
}

#contact img {
    margin: 10px;
}

#contact img {
    width: 50px;
}

#nav-small-device {
    display: none;
}

#nav-big {
    margin: 0 auto;
}

.fontMetal{
    color: #6C5B39;
    font-family: 'Metal', cursive;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
/* sub css */

#header-sub {
    background-color: #343434;
    padding: 10px 0;
    font-family: 'Metal', cursive;
    height: 60px;
}

#body-sub {
    margin: 40px auto;

}
.card .card-title {
    font-size: 24px;
    font-family: 'Moulpali', cursive;
    font-weight: 300;
}

#content-sub {
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(219, 219, 219);
}

div#content-sub h2 {
    margin: 20px 0;
    text-align: center;
}

div#content-sub p {
    padding: 0 20px 20px 20px;
}

#content-sub-footer {

    margin: auto;
    padding: 20px;
    text-align: center;
}

div#content-sub-footer p {
    float: right;
}

/* end sub css */






@media screen and (max-width: 782px) {

    #contact #b1,
    #contact #b2 {
        border: 0px;
        margin-bottom: 20px;
    }

    #contact #b3 {
        text-align: center;

    }

    #contact p {
        text-align: center;
    }

    .middle-content-inverse,
    .middle-content {
        padding: 10px 10px;
    }

    #nav-small-device {
        padding-left: 20px;
        display: block;
    }

    #nav-small-device #topHeader {
        text-align: center;
    }

    #nav {
        text-align: center;
    }

    #nav-big {
        display: none;
    }

    #phrase {
        bottom: 100px
    }

    #border {
        bottom: 95px;
    }

    #nav-small-device #search {
        width: 34%;
        text-align: left;
        margin: auto;
    }

    #nav-small-device #search img {
        right: -24px;
    }
}
/*flickity*/

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 25%;
  height: 500px;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-imagee {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}


/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
element.style {
    height: 500px !important;
    touch-action: pan-y;
}
.myimage{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/tulip.jpg'); 
    background-size: 100% 100%;
}
.customecard-l{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/tulip.jpg'); 
    border-radius: 20px 0px 0px 20px; 
background-size: 100% 100%;
    box-shadow: 1px 1px 30px rgb(219, 219, 219)
}
.customecard-r{
    border-radius: 0px 20px 20px 0px;
    box-shadow: 1px 1px 30px rgb(219, 219, 219)
}
.custome-cate-title h2 a{
    font-size: 20px;
    color: #ddb35a;
    text-decoration: underline;
}
.custome-cate-title img{
    
    width: 25px;
    height: 25px;
}